<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="body container">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
