<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 segueixnos">
        <h1>Segueix-nos</h1>
        <div class="row">
          <div class="col-xs-2"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-2x"></i><!--{{ site.email }}--></a></div>
          <div class="col-xs-2"><a href="https://quitter.cat/{{ site.quitter_username }}"><img src="{{ site.baseurl }}/img/gnu-social.png" alt="Logotip gnu social" /><!--{{ site.quitter_username }}--></a></div>
          <div class="col-xs-2"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-2x"></i><!--{{ site.twitter_username }}--></a></div>
          <div class="col-xs-2"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook fa-2x"></i><!--{{ site.facebook_username }}--></a></div>
          <!--<div class="col-sm-4"><i class="fa fa-youtube fa-3x"></i></div>-->
        </div>
      </div>
      <div class="col-sm-5 direccio">
        <h1>Participa</h1>
        <h4>www.sobtec.cat</h4>
        <address>
          <p class="location">Centre Cívic Joan Oliver "Pere Quart".</p>
          <p>Comandant Benitez, 6</p>
          <p>08028. Barcelona</p>
          <p>(4 març 2017)</p>
        </address>
      </div>
      <div class="col-sm-3 organitza">
        <h1>Organitza</h1>
        <img src="{{ site.baseurl }}/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" />
        <br/>
        <div class="source_code">
        <div class="col-xs-6">
          <p>web feta amb</p> <a href="http://jekyllrb.com/" target="_blank"><img src="http://jekyllrb.com/img/logo-2x.png" alt="Logotip Jekyll" width="100" /></a>
        </div>
        <div class="col-xs-6">
          <p>aquí tens el codi</p> <a href="http://gitlab.sobtec.cat" target="_blank"><i class="fa fa-gitlab fa-2x"></i></a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</footer>
<div id="img-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
