---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


//Bootstrap 3

/* custom variable */
//$body-bg: red;

@import "bootstrap";


body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #231f20;
  background: #85ec8a;
}
h1, h2 {
  font-weight: bold;
}
h3 {
  text-decorator: underline
}
.header {
  margin-top: 10px;
}
.navigationbar {
  li {
    margin-bottom: 13px;
  }
  li a {
    font-size: 38.5px;
    color: #231f20;
    font-weight: bold;
  }
  li.active a {
    text-decoration: underline;
  }
}

/* BODY */
.body {
  margin-top: 50px;
  margin-bottom: 50px;

  .row{
    margin-bottom: 25px;
  }
}
/* CALENDAR */
#calendar .fc-view-container {
  background: #D9D5D2;
  opacity: 0.9;
}
.calendar-day h1 {
  text-align: center;
}
.calendar-activity {
  hr {
    border-top: 0;
    border-bottom: 3px dashed #000;
  }
  h2 {
    display: inline;
    font-family: VT323;
    font-weight: normal;
    line-height: 20px;
  }
  .activity-header a {
    display: inline;
    color: #337ab7
  }
  a {
    color: #231f20;
    text-decoration: underline;
  }
  img {
    margin: 0 auto;
  }
  .speaker-info {
    font-weight: bold;
    text-decoration: underline;    
  }
}

.phrase-to-share {
  .text {

  }
  .web {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
  }
}
/* SOBTEC */

#sobtec-text {
  max-width: 700px
}

footer {
  i {
    color: black;
  }
  h1 {
    margin-bottom: 40px;
  }
  .direccio address p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  .segueixnos{
    img {
      max-height: 42px;
    }
  }
  .location {
    text-decoration: underline;
  }
  .brand {
    border-top: 10px dashed;
    border-bottom: 10px dashed;
    font-family: VT323;
    max-width: 255px;
    border-left: 0;
    border-right: 0;
    border-image-source: url(../img/asterisk-border-image.png);
    border-image-slice: 10 10;
    border-image-repeat: round;
  }
  .background {
    height: 200px;
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    margin-top: 50px;
  }
  .source_code {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
  }
}

/* MODAL */
#img-modal {
  .modal-content {
    .img-responsive {
      width: 100%;
    }
  }
}
@media (min-width: $screen-md-min) {
  .popover {
    max-width: 75%;
  }
}

/* CSS ANIMATION */
#link_movetxt {
  position: absolute;
  right: 0px;
  top: 7px;
  background-color: #fff200;
  font-size: 30px;
  z-index: 1;
  width: 50px;
  text-align: right;
  padding-right: 5px;
}
#link_movetxt a {
  color: #231f20;
}

#movetxt {
  height: 50px;
  overflow: hidden;
  position: relative;

  p {
    position: absolute;
    width: 15500px;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 120s linear infinite;

    .movetxt-str {
      margin-left: 100px;
    }
  }
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0%   {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(300px);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.presentacions {
a:link {
    text-decoration: underline;
    color: inherit;
}

a:visited {
    text-decoration: underline;
    color: inherit;
}
}



/* Old default code
// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;
*/
