---
layout: default
---
<div class="calendar-day row">
  <h1>04 DE MARÇ</h1>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>10.00h a 10.30h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2>INSCRIPCIONS I BENVINGUDA</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>10.30h a 11.30h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/xerrades/batalla_ott_telecos" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>BATALLA ENTRE GRANS EMPRESES (OTT VS TELECOS). QUIN PAPER HI JUGUEM LES PERSONES?</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      El conflicte entre els operadors de xarxa de telecos i els proveïdors de serveis over the top (OTT) des del punt de vista de les persones. Es farà espcial èmfasi en la neutralitat de la xarxa i en el fet que els operadors no poden posar restriccions ni sobrecostos.
      <p class="col-xs-12">- en català -</p>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>11.30h a 12.30h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/xerrades/dones_i_tecnologia" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>PRIVACITAT, SEGURETAT DIGITAL I CIBERFEMINISMES</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      L'augment de l'ús de les TIC per rastrejar, controlar, atacar i censurar les veus i opinions de les dones a Internet s'ha tornat endèmic. En aquesta xerrada es presentaran les experiències derivades del programa d'acció "Asegurando Libertades para la Mujer: Expresión, Privacidad e Inclusión Digital" (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="Doctora en economia social i sociòloga, coordinadora de projectes per incloure la perspectiva de gènere a la formació d'activistes en temes de privacitat i seguretat digital">SpiderAlex</span>)
      </p>
      <p class="col-xs-12">- en castellà -</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>12.30h a 13.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2>DESCANS</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>13.00h a 14.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/xerrades/taula_rodona_sobirania_tecnologica" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>TAULA RODONA AL VOLTANT DE LA SOBIRANIA TECNOLÒGICA</h2>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12">
      <ul>
        <li>Estat actual de la sobirania tecnològica, reflexions fetes des del grup promotor del Sobtec (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="Grup Promotor del Congrés de Sobirania Tecnològica">Sobtec</span>)</li>
        <li>La recuperació del servei d’abastament d’aigua pot ser una porta cap a la democratització i la transversalitat en la gestió, el coneixement i les eines (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="Llicenciada en Antropologia Social i Cultural i activista per la democratització de la gestió de l’aigua">Edurne Bagué</span>)</li>
        <li>El concepte de sobirania des de la teoria del procomú</li>
      </ul>
      <p class="col-xs-12">- en català -</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>16.00h a 18.00h</h2>
  </div>
  <div class="calendar-activity col-sm-3">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/debian" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>COM S'ORGANITZA DEBIAN</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        Debian és una distribució de GNU/Linux desenvolupada per voluntaris de tot el món.
        Com es pot aconseguir una organització transparent i horitzontal en xarxa? Quines dificultats es plantegen quan ens enfrontem a una comunicació gairebé 100% virtual entre persones provinents de diversos àmbits? Quines estructures s'usen per tal que la distribució tiri endavant? (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="Desenvolupadora de Debian">Mònica Ramírez Arceda</span>)
      </p>
      <p class="col-xs-12">- en català -</p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/computacio_quantica" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>COMPUTACIÓ QUÀNTICA</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/open_source_intelligence" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>OSINT: OPEN SOURCE INTELLIGENCE</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      Aquest taller consistirà a analitzar els registres d'activitat de la xarxa social Twitter (seguiments, etiquetes, interaccions ...), a partir dels quals s'intentarà interpretar el tipus de relació que mantenen els diferents nodes. L'objectiu del taller és el de mostrar els riscos intrínsecs en una xarxa social on tot és, per defecte, públic.
      </p>
      <p class="col-xs-12">- en castellà -</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2></h2>
  </div>
  <div class="calendar-activity col-sm-3">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/nabu" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>NABÚ PROJECT</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      Nabú és una eina per a la presa de decisions consensuades entre grans grups cooperatius, que es basa en el concepte de Torus Network. Nabú neix de la necessitat de facilitar i accelerar el mètode assembleari dins de grans grups de persones.
      </p>
      <p class="col-xs-12">- en castellà -</p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/xip" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>XARXA D'INNOVACIÓ PÚBLICA</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      Alguns governs han entès els beneficis de treballar amb programari lliure per a les societats a qui serveixen. Són administracions obertes que posen a disposició pública el codi que generen en pro del benefici general i la riquesa social. (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="La Xarxa d’Innovació Pública és una xarxa de treballadors i treballadores de les administracions públiques de Catalunya. El seu objectiu és millorar el funcionament de l’administració fent propostes innovadores i aportant els procediments per implantar-les">XIP</span>)
      </p>
      <p class="col-xs-12">- en català -</p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/guifinet" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>DESMITIFICANT GUIFI.NET</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        Ja sabem la teoria i estimem el concepte: Xarxa Oberta Lliure i Neutral. Però... Com funciona realment la Xarxa de Comuns? Com es construeix, s'extén i es transforma? Quina comunitat hi ha al darrera? Com s'organitza i ens empodera davant les operadores? Quins en són els casos d'èxit i per què aquesta Xarxa Mutant de més de 32.000 nodes i 59.000 quilòmetres d'enllaços ens pertany d'una manera tan forta? (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="Tothom pot ser Guifi.net">Guifipedro &amp; The Rookies Crew</span>)
      </p>
      <p class="col-xs-12">- en català -</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2></h2>
  </div>
  <div class="calendar-activity col-sm-3">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/taller/decidim_barcelona" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>DECIDIM.BARCELONA</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <h2>VIOLÈNCIA MASCLISTA I NOVES TECNOLOGIES</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <h2></h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>18.00h a 19.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <div class="activity-header">
      <a href="http://wiki.sobtec.cat/congres_2017/xerrades/low_tech" target="_blank"><i class="fa fa-external-link fa-1x"></i></a>
      <h2>LOW-TECH: EL POTENCIAL DE LA TECNOLOGIA OBSOLETA</h2>
    </div>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        Vivimos en un mundo deslumbrado por la alta tecnología y es necesario reaccionar en contra. No nos oponemos a la ciencia y a la tecnología, simplemente no asumimos que únicamente las soluciones científicas y tecnológicas deban aplicarse para solucionar cualquier desafío. La alta tecnología se ha convertido en un ídolo de nuestra sociedad. Conocimientos y tecnologías del pasado dejan de tenerse en cuenta cuando de diseñar una sociedad sostenible se trata. Soluciones de baja tecnología podrían implantarse sin mayores cambios, frecuentemente es de la combinación con nuevos conocimientos y nuevos materiales, cuando surgen interesantes posibilidades. Hablamos de lo que sucede en este mundo en desarrollo, donde la limitación de los recursos a menudo induce soluciones imaginativas y de baja tecnología. (<span class="speaker-info" data-toggle="tooltip" data-placement="left" title="Editor de lowtechmagazine.com i notechmagazine.com">Kris De Decker</span>)
      </p>
      <p class="col-xs-12">- en castellà -</p>
    </div>
  </div>
</div>
<div class="row">
  <p class="col-xs-12">
  * Hi haurà servei de ludoteca sota demanda. Si el necessites, <a href="http://vine.sobtec.cat" target="_blank"> inscriu-te</a> al Congrés.
  </p>
</div>
