---
layout: default
---

<div class="row">
  <div class="col-sm-6">
    <h2>Congrés de Sobirania Tecnològica</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/SobTec.png" alt="Cartell del congres" />
  </div>
  <div class="col-sm-6">
    <h2>Programa</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/programa.png" alt="Programa del congres" />
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <h2>Passi del documental: "Somos legión: la historia de los hackers"</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/altres_cartells/SobTec_Gracia.png" alt="Somos legión: la historia de los hackers" />
  </div>
  <div class="col-sm-3">
    <h2>Docufòrum: "Minerals de Sang"</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/altres_cartells/SobTec_minerals_sang.jpg" alt="Minerals de Sang" />
  </div>
  <div class="col-sm-3">
    <h2>Cartell conjunt: "Plantem cara al Mobile World Congress"</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/altres_cartells/plantem_cara.jpg" alt="Plantem cara al Mobile World Congress" />
  </div>
  <div class="col-sm-3">
    <h2>Arran: "Prou precarietat"</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/altres_cartells/Arran_MWC.jpg" alt="Prou precarietat" />
  </div>
  <div class="col-sm-12">
    <h2>Xerrades d'Arran</h2>
    <img class="img-responsive" data-toggle="modal" data-target="#img-modal" src="{{ site.baseurl }}/img/altres_cartells/Xerrades_Arran.jpg" alt="Xerrades d'Arran" />
  </div>
</div>
