---
layout: default
---

<div class="calendar-day row">
  <h1>19 DE FEBRER</h1>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>18.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2><a href="https://youtu.be/Jl4-owleK-A" target="_blank">L'URBANICIDI COM A ESPECTACLE</a></h2>
    <h2>Barcelona i la política dels grans esdeveniments. Repensem el model de grans esdeveniments</h2>
    <hr />
    <div class="row">
      <p class="col-sm-12">
        {% include bio.html param="Manuel Delgado" %} farà una xerrada d'obertura amb el títol <b>"L'urbanicidi com a espectacle. Barcelona i la política de grans esdeveniments"</b>,
        a continuació hi haurà la taula rodona <b>"Repensem el model de grans esdeveniments"</b> on participaran l'<b>Ariadna i la Laura</b> de {% include bio.html param="Stop Pujades" %},
        el <b>Miguel Álvarez</b> de {% include bio.html param="Nación Rotonda" %}, la <b>Paula Ezquerra</b> de {% include bio.html param="Prostitutas Indignadas" %},
        la <b>Lali Corralero</b> de {% include bio.html param="Las Kellys" %}, l'<b>Isabel Benítez</b> de la {% include bio.html param="COS" %} i el <b>Javier Marco</b> de {% include bio.html param="Correscales" %}.
        Es tractaran temes com el transport, el treball sexual, la precarietat laboral i la divisió sexual del treball.
      </p>
    </div>
  </div>
</div>
<div class="calendar-day row">
  <h1>20 DE FEBRER</h1>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>10.00h a 11.00h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2><a href="https://youtu.be/P-t3MpXvqVU" target="_blank">ESTRATÈGIA DE RESISTÈNCIA</a></h2>
    <h2>vs màquines de vigilància</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="SpiderAlex" %} parlarà de la creixent criminalització de les activistes que protegeixen la seva privacitat i utilitzen eines de seguretat, evidenciant les aliances que hi ha entre empreses tecnològiques i els governs.
      </p>
    </div>
  </div>
  <div class="calendar-day col-sm-1">
    <h2>11.00h a 12.00h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2><a href="https://youtu.be/kjbKM6zFATk" target="_blank">SOBIRANIES EN INFRAESTRUCTURES</a></h2>
    <h2>Xarxa Telecomunicacions de Comuns</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Roger Baig" %} de {% include bio.html param="Guifi.net" %} farà una anàlisi crítica breu dels models econòmics i de xarxa imperants i de les seves conseqüències sobre l'estat de les infraestructures de telecomunicacions, servirà per introduir les propostes de guifi.net i els resultats aconseguits fins ara. També es presentaran les línies de treball actuals i futures i es discutirà com Barcelona pot esdevenir una referència dins de guifi.net a través d'accions concretes.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>12.00h a 13.00h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2><a href="https://youtu.be/QU4UebYxay4" target="_blank">MUNICIPI I TECNOLOGIA</a></h2>
    <h2>On som i futurs possibles</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Dario Castañé" %} de {% include bio.html param="Pirates de Catalunya" %} explicarà la seva visió de la situació actual tecnològica als nostres municipis, arran de la seva experiència com regidor i informàtic, respondrà la pregunta "Estan les nostres dades segures als Ajuntaments?" i exposarà possibles alternatives per assolir la sobirania tecnològica plena i fer front als reptes del futur.
      </p>
    </div>
  </div>
  <div class="calendar-day col-sm-1">
    <h2>13.00h a 14.00h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2><a href="https://youtu.be/aSNzXhYW5AU" target="_blank">SOFTWARE LLIURE A VENEÇUELA</a></h2>
    <h2>Una batalla per la sobirania tecnològica</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Rafael Rico" %} repassarà l'experiència veneçolana de sobirania tecnològica. Ens explicarà per què el coneixement i la tecnologia són un forma molt poderosa de dominació del pobles i per què la llibertat del coneixement és un acte revolucionari.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>15.30h a 17.30h</h2>
  </div>
  <div class="calendar-activity col-sm-5">
    <h2>LA GOVERNANÇA D'INTERNET</h2>
    <h2>Introductori</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Jordi Iparraguirre" %} de {% include bio.html param="ISOC-CAT" %} explicará les bases de la Governança d'Internet, qui fa què i on podem participar i influir en les normatives, protocols... que fan funcionar la xarxa. El nivell seria introductori a fi de donar una visió general.
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2><a href="https://youtu.be/Rel_sVfp3tg" target="_blank">CRYPTOPARTY</a></h2>
    <h2>Protecció de la intimitat</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Jordi Delgado" %} i {% include bio.html param="Jordi Iparraguirre" %} de {% include bio.html param="ISOC-CAT" %} faran un taller d'una hora en la que s'explicarà com podem protegir la nostra privadesa i millorar la nostra seguretat a Internet.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>TALLER DE SEGURETAT INFORMÀTICA PER A DONES</h2>
    <hr />
    <p>
      {% include bio.html param="Margarita Padilla" %} de {% include bio.html param="Dabne" %} dinamitzarà el taller on, entre dones, posarem en comú de què tenim por quan fer servir els ordinadors, els telèfons i les xarxes, i cercarem estratègies per un us més responsable i més segur, individual i colectiu, de les noves tecnologies.
    </p>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>SEGURETAT A LA XARXA</h2>
    <hr />
    <p>
      A càrrec de {% include bio.html param="Xnet" %}.
    </p>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>LA XARXA MÒBIL I EL SEU FUNCIONAMENT, USOS PÚBLICS I PRIVATS</h2>
    <hr />
    <p>
      {% include bio.html param="Joseba Vilalta" %} explicarà el funcionament de les xarxes mòbils i quin és el rastre que deixen. També farà una introducció al bigdata, i als seus usos públics i privats.
    </p>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>XARXES SOCIALS, DADES I ALTERNATIVES EN LA TECNOLOGIA LLIURE</h2>
    <hr />
    <p>
      {% include bio.html param="Jordi Mallach" %} se centrarà en els usos que fem dels serveis d'Internet d'avui en dia (Google, Facebook, telèfon mòbil, etc) i anirà descobrint amb els assistents per què i de quina manera són eines de control, i quines són les alternatives en les quals està treballant la comunitat del programari lliure.
    </p>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>SMART CITIES ALS BARRIS POPULARS</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Silvano Aversano" %}, de la {% include bio.html param="Cooperativa Desenvolupament Comunitari" %}, explicarà les dificultats objectives de treballar conceptes de Smart City als barris de la Franja del Besòs i d'algunes propostes per evitar que, un desenvolupament metropolità basat en les tecnologies, provoqui encara més exclusió i pobresa als barris de les perifèries de les ciutats.
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>COM PARTICIPAR DE GUIFINET</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Guifi.net" %} és més que una xarxa de telecomunicacions lliure, oberta, i neutral, és també una comunitat que està evolucionant cap a unes necessitats cada cop més genèriques.
        L'objectiu d'aquest debat és resoldre, respondre i discutir sobre quines són les diferents formes que els assistents poden participar a guifi.net a Barcelona, o altres indrets.
        A càrrec de {% include bio.html param="Pedro" %}<br /><a  href="http://exo.cat/guifilab" target="_blank">Informació guifilabs Barcelona</a>.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>17.30h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2><a href="https://youtu.be/NhMlz4Shs_E" target="_blank">VIOLÈNCIA MASCLISTA I NOVES TECNOLOGIES</a></h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        Taula rodona amb la {% include bio.html param="Maribel Guillamón" %} de Noestasola, el col·lectiu {% include bio.html param="Memes Feministas" %}, i la {% include bio.html param="Eli Vivas" %} i la {% include bio.html param="Isabel Muntané" %} del {% include bio.html param="Màster Gènere i Comunicació de la UAB" %}.
        <br />
        Les eines interactives que ens permeten les noves tecnologies són a la vegada eines per construir una informació feminista que treballi per l’activisme,
        per canviar la realitat de les violències masclistes que patim les dones i qualsevol persona que no compleix amb l'estereotip d'home blanc, heterosexual i productiu.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-day col-sm-1">
    <h2>19.00h</h2>
  </div>
  <div class="calendar-activity col-sm-11">
    <h2>SOFTWARE LLIURE EN L'ÈTICA I LA PRÀCTICA</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Richard Stallman" %} parlarà sobre els objectius i la filosofia del moviment del Software Lliure, i l'estat i la història del sistema operatiu GNU que, amb el nucli Linux, és actualment utilitzat per desenes de milions de persones a tot el món.<br />
        <a href="https://my.fsf.org/civicrm/profile/create?gid=84&reset=1" target="_blank">formulari contacte</a>
      </p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="calendar-day row">
    <h1>LUDOTECA</h1>
    <div class="col-sm-11 col-sm-offset-1">
      <p>
        Durant tot el divendres i dissabte hi haurà servei de ludoteca i activitats per a nens i nenes. Per inscriure't, envia'ns un correu electrònic.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>Primers passos d'electrònica amb LittleBits</h2>
    <h2>A càrrec del {% include bio.html param="El Teb" %}</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        Si tenim una pila, un botó i un brunzidor, com ens ho hem de manegar per muntar un timbre? El pensament tecnològic és la base de qualsevol enginyeria, i treballar-lo amb LittleBits és sempre una festa!<br />
        El taller està dirigit a infants i joves.
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-5 col-sm-offset-1">
    <h2>Introducció a la programació per a petits i grans amb Scratch</h2>
    <h2>A càrrec de {% include bio.html param="Booleans" %}</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        Crea les teves pròpies animacions i interactius explicant-li-ho a l'ordinador en un idioma que entengueu tots dos. Si veniu a aquest taller, porteu ordinador.<br />
        El taller està dirigit a infants i joves entre 6 a 13 anys.
      </p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="calendar-day row">
    <h1>Presentació de projectes</h1>
    <div class="col-sm-11 col-sm-offset-1">
      <p>Durant tot el dissabte hi haurà un espai de networking on es presentaràn projectes i es debatrà de forma més distesa</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <h2>PRESENTACIÓ PROJECTE ETICOM</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Eticom" %} som una cooperativa de consum sense ànim de lucre. Oferim serveis de telefonia i accés a Internet a persones i organitzacions per avançar cap a una sobirania en els serveis i infraestructures de telecomunicacions. *Eticom és un projecte col·lectiu i democràtic que s&#039;organitza des del territori amb la finalitat de contribuir directament al ben comú.
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <h2>PRESENTACIÓ PROJECTE TEB</h2>
    <!--<h2>El Teb, transformació social a través de les TIC</h2>-->
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="El Teb" %} va néixer fa més de 20 anys al barri del Raval de Barcelona i des de llavors ha esdevingut un agent promotor de la participació ciutadana, la vida comunitària i la lluita contra les desigualtats socials. Des de sempre l'entitat ha perseguit aquests objectius a través de la formació, socialització i l'ús de les TIC, us expliquem com.
      </p>
    </div>
  </div>
  <div class="calendar-activity col-sm-3 col-sm-offset-1">
    <h2>PRESENTACIÓ PROJECTE NABU</h2>
    <hr />
    <div class="row">
      <p class="col-xs-12">
        {% include bio.html param="Torus Governance Network" %}: a proposal for Human social evolution based on technology and geometry.<br />
        Proposed and developed by {% include bio.html param="Sabrina Presti" %}, experimented at the {% include bio.html param="CIC" %}.
      </p>
    </div>
  </div>
</div>
