---
layout: default
---

<div class="row">
  <h2>Recull de presentacions i <a href="https://www.youtube.com/channel/UC88D4ysrVGKchfGpepChTFQ/videos?sort=dd&shelf_id=0&view=0" target="_blank">vídeos</a> del 1r Congrés de Sobirania Tecnològica.</h2>
  <br>
  <h2>Presentacions:</h2>
  <ul class="presentacions">
    <li><a href="{{ site.baseurl }}/docs/foss.venecuela.odp" target="_blank">SOFTWARE LLIURE A VENEÇUELA: Una batalla per la sobirania tecnològica (odp)</a> - <a href="{{ site.baseurl }}/docs/foss.venecuela.pdf" target="_blank">pdf</a></li>
    <li><a href="{{ site.baseurl }}/docs/guifi.net.pdf" target="_blank">SOBIRANIES EN INFRAESTRUCTURES: Xarxa Telecomunicacions de Comuns (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/municipi.i.tecnologia.pdf" target="_blank">MUNICIPI I TECNOLOGIA: On som i futurs possibles (pdf)</a> - <a href="https://github.com/imdario/sobtec2016" target="_blank">Github</a> </li>
    <li><a href="{{ site.baseurl }}/docs/periodisme-feminista-a-la-xarxa.pptx" target="_blank">PERIODISME FEMINISTA I VIOLÈNCIA MASCLISTA A LA XARXA (pptx)</a></li>
    <li><a href="{{ site.baseurl }}/docs/Violencia.machista.y.nuevas.tecnologias.pdf" target="_blank">VIOLENCIA MACHISTA Y NUEVAS TECNOLOGÍAS (pdf)</a> - <a href="{{ site.baseurl }}/docs/Violencia.machista.y.nuevas.tecnologias.pptx" target="_blank">pptx</a></li>
    <li><a href="{{ site.baseurl }}/docs/taller-xarxes-mobils.pdf" target="_blank">TALLER: Introducció a les xarxes mòbils (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/xarxes-socials-dades-i-alternatives-lliures.odp" target="_blank">TALLER: Xarxes socials, dades i alternatives en la tecnologia lliure (odp)</a></li>
    <li><a href="{{ site.baseurl }}/docs/ig-sobtecv2.pdf" target="_blank">TALLER: Governança d'Internet (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/cryptoparty-sobtec_v3.pdf" target="_blank">TALLER: Protecció de la intimitat per CryptoParty (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/xnet-seguridad-privacidad.pdf" target="_blank">TALLER: Seguretat a la xarxa per Xnet (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/com.participar.guifi.net.pdf" target="_blank">TALLER: Com participar de Guifi.net (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/smart-barris-2016-CoopDC.pdf" target="_blank">TALLER: Smart cities als barris populars (pdf)</a></li>
    <li><a href="{{ site.baseurl }}/docs/StopPujades.pdf" target="_blank">TAULA RODONA: Stop Pujades (pdf)</a></li>
  </ul>

  <br />
  <h2>L'urbanicidi com a espectacle: Barcelona i la política com a grans esdeveniments</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Jl4-owleK-A" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>Estratègia de resistència: vs màquines de vigilància</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/P-t3MpXvqVU" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>Sobiranies en infraestructures: Xarxa Telecomunicacions de Comuns</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kjbKM6zFATk" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>Municipi i tecnologia: On som i futurs possibles</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QU4UebYxay4" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>Software lliure a Veneçuela: Una batalla per la sobirania tecnològica</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aSNzXhYW5AU" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>CRYPTOPARTY: Protecció de la intimitat</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Rel_sVfp3tg" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>Violència masclista i noves tecnologies</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NhMlz4Shs_E" frameborder="0" allowfullscreen></iframe>
  <br />
  <h2>Presentación del libro #LasQueLimpianLosHoteles en #Lloret</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/dcYetVg_KDc" frameborder="0" allowfullscreen></iframe>

</div>
