<div id="link_movetxt">
  <a href="/grup_promotor#speakers"><i class="fa fa-search"></i></a>
</div>
<div id="movetxt">
  <p>
    {% for txt in site.data.header_txts %}
      {% for msg in txt.msgs %}
        <span class="movetxt-str"><b>{{txt.name}}</b>: {{ msg }}</span>
      {% endfor %}
    {% endfor %}
  </p>
</div>
<div class="container header">
  <div class="row">
    <div class="col-sm-4">
      <a class="brand" href="{{ site.baseurl }}/"><img class="img-responsive" src="{{ site.baseurl }}/img/logo_congres.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" /></a>
    </div>
    <div class="col-sm-4 col-sm-offset-4 ">
      <ul class="navigationbar list-unstyled">
        <li {% if page.url == '/' %} class="active" {% endif %}><a href="{{ site.baseurl }}/">Calendari</a></li>
        <li {% if page.url == '/recull' %} class="active" {% endif %}><a href="{{ site.baseurl }}/recull.html">Recull</a></li>
        <li {% if page.url == '/grup_promotor' %} class="active" {% endif %}><a href="{{ site.baseurl }}/grup_promotor.html">Grup promotor</a></li>
        <li {% if page.url == '/cartells' %} class="active" {% endif %}><a href="{{ site.baseurl }}/cartells.html">Cartells</a></li>
        <li {% if page.url == '/quatre_jornades' %} class="active" {% endif %}><a href="{{ site.baseurl }}/quatre_jornades.html">4 jornades</a></li>
      </ul>
    </div>
  </div>
</div>
